<div class="product-wrapper">
  <mat-card class="product-form-card">
    <mat-card-title *ngIf="productForm.get('name').value">
      {{productForm.get('name').value}} Description
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="productForm">
        <div class="product-form-container">

          <mat-form-field>
            <input matInput type="text" placeholder="id" formControlName="id">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="name" formControlName="name">
            <mat-error *ngIf="productForm.get('name')?.invalid">Invalid product name</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="description" formControlName="description">
            <mat-error *ngIf="productForm.get('description')?.invalid">Invalid product description</mat-error>
          </mat-form-field>
          
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <app-product-image class="product-image-wrapper" *ngIf="productForm.get('id').value;else chooseAProduct" [productId]="productForm.get('id').value">
    </app-product-image>
    <ng-template #chooseAProduct>
      <p>Choose a product in the product table</p>
    </ng-template>
  </mat-card>

  <mat-card class="product-remain">
    <app-product-remain *ngIf="productForm.get('id').value" [productId]="productForm.get('id').value" [productName]="productForm.get('name').value">
    </app-product-remain>
  </mat-card>
</div>